/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y fondo */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #c5eec8;
  color: #333;
  padding: 30px;
}

/* Encabezado */
header {
  text-align: center;
  margin-bottom: 30px;

}

h1 {
  font-size: 2rem;
  color: #222;
}

h2 {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 10px;
}

/* Distribución del contenido */
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Caja de info */
.info-box {
  background-color: #e5e6e7;
  border-left: 5px solid #4caf50;
  border-right: 5px solid #4caf50;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-box p {
  margin-bottom: 12px;
  font-size: 1rem;
}

/* Caja de gráficas */
.chart-box {
  background-color: #e5e6e7;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  border-radius: 5px 5px 5px;
  border: 1px solid #00bb48;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
  width: 100% !important;
  height: 400px !important;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #666;
}


/* Estilo para la barra de navegación */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #2d3748;
  padding-top: 20px;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: #4a5568;
}

.content {
  margin-left: 270px;
  padding: 20px;
}


/*Estilo toast */
.toast-alert {
  background-color: #dc3545;
  /* Rojo para errores */
  color: white;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 4s ease-in-out forwards;
  font-family: sans-serif;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}


.sidebar a.active {
  background-color: #1D4ED8;
  /* Azul Tailwind */
  color: white;
  font-weight: bold;
}